images/.DS_Store
.DS_Store
classes/__pycache__/button.cpython-311.pyc
screens/__pycache__/main.cpython-311.pyc
.gitignore
screens/__pycache__/start_screen.cpython-311.pyc
screens/__pycache__/main.cpython-311.pyc
.gitignore
screens/__pycache__/screen.cpython-311.pyc
screens/__pycache__/start_screen.cpython-311.pyc
screens/__pycache__/screen.cpython-39.pyc
utils/__pycache__/timer.cpython-39.pyc
utils/__pycache__/scrolling_background.cpython-311.pyc
utils/__pycache__/timer.cpython-311.pyc
utils/__pycache__/game_sound.cpython-311.pyc
utils/__pycache__/game_sound.cpython-311.pyc
/.vscode/
